@font-face {
  font-family: 'playfair-display';
  src: url(/assets/fonts/Playfair-Display/PlayfairDisplay-Regular.woff);
}

* {
  font-family: 'playfair-display';
}

/* Conteneur principal du Bento avec largeur maximale */
.bento-container {
  max-width: 1200px;
  margin: 0 auto; /* Centre le conteneur */
}

/* Style pour chaque élément du Bento (carte d'image) */
.bento-item {
  position: relative; /* Pour positionner les éléments enfants */
  overflow: hidden; /* Cache le débordement lors du zoom au survol */
}

/* Style pour les images à l'intérieur des cartes */
.bento-item img {
  width: 100%; /* L'image prend toute la largeur du conteneur */
  height: 100%; /* L'image prend toute la hauteur du conteneur */
  object-fit: cover; /* Recadre l'image pour remplir le conteneur sans déformation */
  transition: transform 0.3s ease; /* Animation fluide lors du zoom */
}

/* Effet de zoom au survol de la souris */
.bento-item:hover img {
  transform: scale(1.05); /* Agrandit l'image de 5% */
}

/* Définition des différentes tailles d'éléments */
.bento-small {
  height: 195px; /* Petite hauteur pour les petites cartes */
}

.bento-medium {
  height: 300px; /* Hauteur moyenne pour les cartes moyennes */
}

.bento-large {
  height: 415px; /* Grande hauteur pour les grandes cartes */
}

.bento-vertical {
  height: 100%; // prend toute la hauteur de la colonne droite
  min-height: calc(195px * 2 + 16px); // 2 lignes + 1 gap
  @media (max-width: 767.98px) {
    height: 100px; // hauteur sur mobile uniquement
  }
}

/* Media query pour les petits écrans (smartphones) */
@media (max-width: 767.98px) {
  /* Sur mobile, toutes les cartes ont la même hauteur */
  .bento-small,
  .bento-medium,
  .bento-large {
    height: 250px; /* Hauteur uniforme pour une meilleure expérience mobile */
  }
}
