@font-face {
  font-family: 'playfair-display';
  src: url(/assets/fonts/Playfair-Display/PlayfairDisplay-Regular.woff);
}

@font-face {
  font-family: 'playfair-display-bold';
  src: url(/assets/fonts/Playfair-Display/PlayfairDisplay-Bold.woff);
}

@font-face {
  font-family: 'playfair-display-italic';
  src: url(/assets/fonts/Playfair-Display/PlayfairDisplay-Italic.woff);
}

@font-face {
  font-family: 'inter';
  src: url(/assets/fonts/Inter/Inter_18pt-Regular.ttf);
}

@font-face {
  font-family: 'inter-extra-light';
  src: url(/assets/fonts/Inter/Inter_18pt-ExtraLight.ttf);
}

* {
  font-family: 'playfair-display';
}

.table {
  font-size: clamp(0.75rem, 1.5vw, 1.25rem);
  &--bold {
    font-family: 'playfair-display-bold';
  }
}

.h3-italic {
  font-family: 'playfair-display-italic';
}

.form-date {
  border-radius: 20px 0px 0px 20px !important;
}

.btn {
  background-color: #ea9981;
  border: none;
  &:hover {
    box-shadow: inset 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
    background-color: #ea9981;
    border: none;
  }
}

.banner-mobile {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: 50% 45%;
  display: block;
}

.banner-desktop {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  object-position: 10% 15%;
  display: block;
}

h1 {
  position: absolute;
  top: 20%;
  left: 5%;
  font-family: 'playfair-display-bold';
  & span {
    color: #ea9981;
    font-family: 'playfair-display-italic';
    font-size: clamp(2rem, 5vw, 4rem);
  }
}

.table-font {
  font-family: 'inter';
}

.text-orange {
  color: #ea9981;
}

.text-extralight {
  font-family: 'inter-extra-light';
  font-size: clamp(0.75rem, 1vw, 1rem);
}

.logos {
  & img {
    opacity: 0.5;
  }
}
